<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_m_action_attack_44_flip_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,269}}</string>
                <key>offset</key>
                <string>{-21,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,116},{158,269}}</string>
                <key>sourceSize</key>
                <string>{670,411}</string>
            </dict>
            <key>player_m_action_attack_44_flip_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{210,323}}</string>
                <key>offset</key>
                <string>{24,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,63},{210,323}}</string>
                <key>sourceSize</key>
                <string>{670,411}</string>
            </dict>
            <key>player_m_action_attack_44_flip_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{262,285}}</string>
                <key>offset</key>
                <string>{87,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,76},{262,285}}</string>
                <key>sourceSize</key>
                <string>{670,411}</string>
            </dict>
            <key>player_m_action_attack_44_flip_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{198,223}}</string>
                <key>offset</key>
                <string>{55,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,154},{198,223}}</string>
                <key>sourceSize</key>
                <string>{670,411}</string>
            </dict>
            <key>player_m_action_attack_44_flip_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{298,329}}</string>
                <key>offset</key>
                <string>{125,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,27},{298,329}}</string>
                <key>sourceSize</key>
                <string>{670,411}</string>
            </dict>
            <key>player_m_action_attack_44_flip_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,327},{124,191}}</string>
                <key>offset</key>
                <string>{46,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,165},{124,191}}</string>
                <key>sourceSize</key>
                <string>{670,411}</string>
            </dict>
            <key>player_m_action_attack_44_flip_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,327},{124,191}}</string>
                <key>offset</key>
                <string>{46,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,165},{124,191}}</string>
                <key>sourceSize</key>
                <string>{670,411}</string>
            </dict>
            <key>player_m_action_attack_44_flip_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,327},{124,191}}</string>
                <key>offset</key>
                <string>{46,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,165},{124,191}}</string>
                <key>sourceSize</key>
                <string>{670,411}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_m_action_attack_44_flip.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f5540ce05f1bfb3cff10e28a65265e1:1/1$</string>
            <key>textureFileName</key>
            <string>player_m_action_attack_44_flip.png</string>
        </dict>
    </dict>
</plist>
